
section{
    padding: 2em 0;
}
section > label{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    cursor: pointer;
    font-size: large;
    border-radius: 50%;

}
label >input{
    display: none;
}
label > img{
    border-radius: 50%;
}