
section{
    margin:4em 26em;
    padding: 0em 0;
}
section > label{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 3em;
    cursor: pointer;
    font-size: large;
    border-radius: 350%;

}
label >input{
    display: none;
}
