
section{
    margin:10em;
    padding: 0em 0;
}
section > label{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 3em;
    cursor: pointer;
    font-size: large;
    border-radius: 350%;

}
label >input{
    margin: -16px;
    display: none;
}

